body{
    background-image: url("118709-large-black-gradient-background-1920x1080-phone.jpg");
    background-size: 1360px 760px;
    box-sizing: border-box;
    margin: 0;
    padding: 0%;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.greet{
    width: 100%;
    /* height: 100vh; */
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin-top: 5px; */
}
h1{
    padding: 20px 20px;
    /* background-color: #ffe9c5; */
    /* color: #fa9191; */
    /* border-radius: 20px; */
    font-size: 5vw;
    box-shadow: 4px 2px 6px #1310cc;
    background: linear-gradient(45deg, #3314e4, #e60f4c);
    background-clip: text;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
    -webkit-text-fill-color: transparent;

}
h1:hover{
    box-shadow: 4px 2px 6px #1cd359;
    cursor: not-allowed;
}
.time{
    width: 100%;
    font-size: 4vw;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto',sans-serif;
    color: green;
    position: fixed;
    
    /* margin-top: 25%; */
}
h2{
    /* background-color: rgb(118, 224, 166); */
    justify-content: center;
    padding: 0px 20px;
    box-shadow:4px 2px 6px #8fb0f3; 
    /* border-radius: 20px; */
}
h2:hover{
    box-shadow:4px 2px 6px #be20a9; 
    cursor:not-allowed;
}
.search{
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.search ::placeholder{
    opacity: 0.7;
    color: #1de00b;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.text{
    border: 2.5px solid #009879;
    justify-content: center;
    /* border-radius: 50px; */
    align-items: center;
    padding: 10px 50px;
    font-size: 2vw;
    color: #be20a9;
    /* opacity: 0.6; */
    box-shadow:4px 8px 6px #b11e4f; 
    /* border-radius: 10px; */
}
input, select, textarea{
    color: #30c212;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

textarea:focus, input:focus {
    color: #1bd825;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.text:hover{
    box-shadow: 4px 2px 6px #1cd359;
}
.sub-butt{

    opacity: 0;
}
.favourites{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}
.favourites img{
    margin: 5px;
    box-shadow:4px 2px 6px #000103; 
    border: none;
    box-shadow:4px 2px 6px #e409d1;
}
.favourites img:hover{
    box-shadow:4px 8px 6px #1050cf;
    width: 90px;
    height: 90px;
}
input{
    background: transparent;
}